* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

.content {
    padding: 3.125em 1.125em;
    display: flex;
    flex-direction: column;
    gap: 1.4375em;
}




.box {
    border-radius: 0.625em;
    padding: 1.4em 2em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.box .title-info {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.box .title-info p {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    color: hsla(0, 0%, 100%, 90%);
}

.box .title-info p span {
    color: hsla(0, 0%, 100%, 50%);
}

.box .title-info img {
    border-radius: 50%;
    width: 2em;
}

.box>h3 {
    color: hsla(0, 0%, 100%, 90%);
    position: relative;
    z-index: 1;
    width: 96%;
}

.box>p {
    font-size: 13.5px;
    line-height: 1.5;
    color: hsla(0, 0%, 100%, 40%);
}





.box:first-of-type {
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

.box:first-of-type .title-info img {
    border: 2px solid hsl(263, 66%, 66%);
}

.box:first-of-type svg {
    position: absolute;
    top: 0;
    right: 2.125em;
}






.box:nth-of-type(2) {
    background-color: hsl(217, 19%, 35%);
}




.box:nth-of-type(3) {
    background-color: white;
}

.box:nth-of-type(3) .title-info p {
    color: hsl(217, 19%, 35%);
}

.box:nth-of-type(3) .title-info p span {
    color: hsla(217, 19%, 35%, 50%);
}

.box:nth-of-type(3)>h3 {
    color: hsl(217, 19%, 35%);
}

.box:nth-of-type(3)>p {
    color: hsla(217, 19%, 35%, 70%);
}




.box:nth-of-type(4) {
    background-color: hsl(219, 29%, 14%);
}

.box:nth-of-type(4) .title-info img {
    border: 2px solid hsl(263, 66%, 66%);
}



.box:nth-of-type(5) {
    background-color: white;
}

.box:nth-of-type(5) .title-info p {
    color: hsl(217, 19%, 35%);
}

.box:nth-of-type(5) .title-info p span {
    color: hsla(217, 19%, 35%, 50%);
}

.box:nth-of-type(5)>h3 {
    color: hsl(217, 19%, 35%);
}

.box:nth-of-type(5)>p {
    color: hsla(217, 19%, 35%, 70%);
}


@media (min-width: 1200px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .content {
        display: grid;
        grid-template-columns: repeat(4, 16.399375em);
        grid-template-rows: 17.5em 19em;
    }

    .box {
        justify-content: center;
    }

    .box:first-of-type {
        grid-column: span 2;
    }

    .box:first-of-type>h3 {
        width: 91%;
    }

    .box:first-of-type svg {
        top: 0;
        right: 9em;
    }

    .box:nth-of-type(3)>h3 {
        width: 92%;
    }

    .box:nth-of-type(4) {
        grid-column: span 2;
        gap: 1.3em;
    }

    .box:nth-of-type(4)>h3 {
        margin-bottom: .6em;
    }

    .box:nth-of-type(5) {
        grid-area: 1/4/3/5;
    }

}